body {
  padding-top: 1%;
  padding-left: 25%;
  padding-right: 25%;
}

h1,
h2,
h3 {
  padding-top: 2%;
}

td,
th {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.swap-middle {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

output {
  display: inline-block;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner::before {
  content: "";
  box-sizing: border-box;
  position: static;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #f6f;
  border-top-color: #0e0;
  border-right-color: #0dd;
  border-bottom-color: #f90;
  margin-top: -1px;
  margin-left: -22px;
  margin-right: 7px;
  animation: spinner .6s linear infinite;
}
